<!-- Movies Page -->
<section class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top:6rem">
      <div class="btn_holder">
        <h1>Movie Search</h1>
        <!-- React Component -->
        <!-- Renders the movies -->
        <%= react_component("App") %>
      </div>
    </div>
  </div>
</section>