<!-- New Forum Thread Page. -->
<section class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top:5rem">
        <div class="btn_holder">
            <h1><%= t('forum_threads.new.title') %></h1><br>
        </div>
    </div>
  </div><br>
  <!-- Render the form for a new forum thread (./_form.html.erb). -->
  <div class="btn_holder">
    <%= render "form" %>
  </div>
</section>
